USE [SMCHDB]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 12/03/2016 17:32:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Nationalities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Nationalities] ON
INSERT [dbo].[Nationalities] ([ID], [Name]) VALUES (1, N'Afghan')
INSERT [dbo].[Nationalities] ([ID], [Name]) VALUES (2, N'Albanian')
INSERT [dbo].[Nationalities] ([ID], [Name]) VALUES (3, N'Algerian')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Nationalities] OFF
/****** Object:  Table [dbo].[EmploymentStatuses]    Script Date: 12/03/2016 17:32:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentStatuses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MemberFee] [money] NULL,
 CONSTRAINT [PK_EmploymentStatuses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmploymentStatuses] ON
INSERT [dbo].[EmploymentStatuses] ([ID], [Name], [MemberFee]) VALUES (1, N'Employed', 20.0000)
INSERT [dbo].[EmploymentStatuses] ([ID], [Name], [MemberFee]) VALUES (2, N'Unemployed', 10.0000)
INSERT [dbo].[EmploymentStatuses] ([ID], [Name], [MemberFee]) VALUES (3, N'Retired', 10.0000)
SET IDENTITY_INSERT [dbo].[EmploymentStatuses] OFF
/****** Object:  Table [dbo].[Races]    Script Date: 12/03/2016 17:32:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Races] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Races] ON
INSERT [dbo].[Races] ([ID], [Name]) VALUES (1, N'Chinese')
INSERT [dbo].[Races] ([ID], [Name]) VALUES (2, N'Malaysian')
INSERT [dbo].[Races] ([ID], [Name]) VALUES (3, N'Indian')
SET IDENTITY_INSERT [dbo].[Races] OFF
/****** Object:  Table [dbo].[OrdinaryMemberInfos]    Script Date: 12/03/2016 17:32:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrdinaryMemberInfos](
	[IMemberID] [uniqueidentifier] NOT NULL,
	[Address] [varchar](500) NULL,
	[NameInNative] [nvarchar](max) NULL,
	[NationalityID] [int] NULL,
	[RaceID] [int] NULL,
	[EmploymentStatusID] [int] NULL,
	[PlaceOfInitiation] [nvarchar](100) NULL,
	[NRICOrFINNo] [nvarchar](50) NULL,
	[MemberApplyDate] [datetime] NULL,
	[MemberEffectiveStartDate] [datetime] NULL,
	[MemberFeePayByID] [int] NULL,
	[Occupation] [nvarchar](50) NULL,
	[EducationLevel] [nvarchar](100) NULL,
	[SpecialSkill] [nvarchar](200) NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_InitiateMemberInfos] PRIMARY KEY CLUSTERED 
(
	[IMemberID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OrdinaryMemberInfos] ([IMemberID], [Address], [NameInNative], [NationalityID], [RaceID], [EmploymentStatusID], [PlaceOfInitiation], [NRICOrFINNo], [MemberApplyDate], [MemberEffectiveStartDate], [MemberFeePayByID], [Occupation], [EducationLevel], [SpecialSkill], [Remark]) VALUES (N'ba5729fe-0b37-4044-993c-0147d4ea210c', N'...', NULL, 159, 1, 1, N'Singapore', N'S7127920J', NULL, NULL, 5, NULL, NULL, NULL, NULL)
INSERT [dbo].[OrdinaryMemberInfos] ([IMemberID], [Address], [NameInNative], [NationalityID], [RaceID], [EmploymentStatusID], [PlaceOfInitiation], [NRICOrFINNo], [MemberApplyDate], [MemberEffectiveStartDate], [MemberFeePayByID], [Occupation], [EducationLevel], [SpecialSkill], [Remark]) VALUES (N'5be0a009-0314-4e44-8541-02413515ab8e', N'...', NULL, 159, 1, 1, N'Singapore', NULL, NULL, NULL, 5, NULL, NULL, NULL, N'pyt updated 26/02/11')
INSERT [dbo].[OrdinaryMemberInfos] ([IMemberID], [Address], [NameInNative], [NationalityID], [RaceID], [EmploymentStatusID], [PlaceOfInitiation], [NRICOrFINNo], [MemberApplyDate], [MemberEffectiveStartDate], [MemberFeePayByID], [Occupation], [EducationLevel], [SpecialSkill], [Remark]) VALUES (N'72ba8d99-5f0a-46a3-a673-0277eb0171e6', N'Blk 121 Pending Road #07-162, Spore 760121', NULL, 189, 5, 4, N'Singapore', NULL, CAST(0x0000A0FC00000000 AS DateTime), CAST(0x0000A11A00000000 AS DateTime), NULL, N'Housewife', N'Primary 4', NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
/****** Object:  Default [DF_EmploymentStatus_MemberFee]    Script Date: 12/03/2016 17:32:53 ******/
ALTER TABLE [dbo].[EmploymentStatuses] ADD  CONSTRAINT [DF_EmploymentStatus_MemberFee]  DEFAULT ((0)) FOR [MemberFee]
GO
/****** Object:  Check [CK_EmploymentStatuses_MemberFee]    Script Date: 12/03/2016 17:32:53 ******/
ALTER TABLE [dbo].[EmploymentStatuses]  WITH CHECK ADD  CONSTRAINT [CK_EmploymentStatuses_MemberFee] CHECK  (([MemberFee]>=(0)))
GO
ALTER TABLE [dbo].[EmploymentStatuses] CHECK CONSTRAINT [CK_EmploymentStatuses_MemberFee]
GO
/****** Object:  ForeignKey [FK_InitiateMemberInfos_EmploymentStatus]    Script Date: 12/03/2016 17:32:53 ******/
ALTER TABLE [dbo].[OrdinaryMemberInfos]  WITH CHECK ADD  CONSTRAINT [FK_InitiateMemberInfos_EmploymentStatus] FOREIGN KEY([EmploymentStatusID])
REFERENCES [dbo].[EmploymentStatuses] ([ID])
GO
ALTER TABLE [dbo].[OrdinaryMemberInfos] CHECK CONSTRAINT [FK_InitiateMemberInfos_EmploymentStatus]
GO
/****** Object:  ForeignKey [FK_InitiateMemberInfos_Nationalities]    Script Date: 12/03/2016 17:32:53 ******/
ALTER TABLE [dbo].[OrdinaryMemberInfos]  WITH CHECK ADD  CONSTRAINT [FK_InitiateMemberInfos_Nationalities] FOREIGN KEY([NationalityID])
REFERENCES [dbo].[Nationalities] ([ID])
GO
ALTER TABLE [dbo].[OrdinaryMemberInfos] CHECK CONSTRAINT [FK_InitiateMemberInfos_Nationalities]
GO
/****** Object:  ForeignKey [FK_InitiateMemberInfos_Races]    Script Date: 12/03/2016 17:32:53 ******/
ALTER TABLE [dbo].[OrdinaryMemberInfos]  WITH CHECK ADD  CONSTRAINT [FK_InitiateMemberInfos_Races] FOREIGN KEY([RaceID])
REFERENCES [dbo].[Races] ([ID])
GO
ALTER TABLE [dbo].[OrdinaryMemberInfos] CHECK CONSTRAINT [FK_InitiateMemberInfos_Races]
GO
