<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <!--Data Source=RAOHUI-PC\SQLEXPRESS;Initial Catalog=SMCHDB;Integrated Security=True-->
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SMCHDBEntities" connectionString="metadata=res://*/Models.SMCHDBModel.csdl|res://*/Models.SMCHDBModel.ssdl|res://*/Models.SMCHDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s02.winhost.com;Initial Catalog=DB_18093_smchdb;Persist Security Info=True;User ID=DB_18093_smchdb_user;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApplicationServices" connectionString="Data Source=tcp:s02.winhost.com;Initial Catalog=DB_18093_smchdb;User ID=DB_18093_smchdb_user;Password=iLoveMaster; Integrated Security=False;User Instance=false" providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices" connectionString="Data Source=tcp:s02.winhost.com;Initial Catalog=DB_18093_smchdb;User ID=DB_18093_smchdb_user;Password=9Rg9pEbLrDP7WU; Integrated Security=False;User Instance=false" providerName="System.Data.SqlClient" />
    <!--<add name="SMCHDBEntities" connectionString="metadata=res://*/Models.SMCHDBModel.csdl|res://*/Models.SMCHDBModel.ssdl|res://*/Models.SMCHDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s02.winhost.com;Initial Catalog=DB_18093_smchdb;Persist Security Info=True;User ID=DB_18093_smchdb_user;Password=iLoveMaster;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SMCHDBLocalEntities" connectionString="metadata=res://*/Models.SMCHDBLocalModel.csdl|res://*/Models.SMCHDBLocalModel.ssdl|res://*/Models.SMCHDBLocalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RAOHUI-PC\SQLEXPRESS;Initial Catalog=SMCHDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SMCHDBEntities" connectionString="metadata=res://*/Models.SMCHDBModel.csdl|res://*/Models.SMCHDBModel.ssdl|res://*/Models.SMCHDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s02.winhost.com;Initial Catalog=DB_18093_smchdb;Persist Security Info=True;User ID=DB_18093_smchdb_user;Password=iLoveMaster;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SMCHDBLocalEntities" connectionString="metadata=res://*/Models.SMCHDBLocalModel.csdl|res://*/Models.SMCHDBLocalModel.ssdl|res://*/Models.SMCHDBLocalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RAOHUI-PC\SQLEXPRESS;Initial Catalog=SMCHDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SMCHDBEntities" connectionString="metadata=res://*/Models.SMCHDBModel.csdl|res://*/Models.SMCHDBModel.ssdl|res://*/Models.SMCHDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s02.winhost.com;Initial Catalog=DB_18093_smchdb;Persist Security Info=True;User ID=DB_18093_smchdb_user;Password=9Rg9pEbLrDP7WU;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="admin@smchsg.com">
        <!--<network host="mail.smchsg.com" port="587" userName="admin@smchsg.com" password="smchsgadmin" defaultCredentials="false" />-->
        <network host="mail.smchsg.com" port="587" userName="admin@smchsg.com" password="1LoveM@ster" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!--<authorization>
      <allow roles="Contact Person" />
    </authorization>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="6" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="5" applicationName="/" />
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SMCHDBEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="6" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="5" applicationName="/" />-->
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <!--<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SMCHDBEntities" applicationName="/" />-->
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <!--<add connectionStringName="SMCHDBEntities" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />-->
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <!--<httpRuntime maxRequestLength="10000" waitChangeNotification="5" maxWaitChangeNotification="10"></httpRuntime>-->
    <!--<httpRuntime maxRequestLength="2048" waitChangeNotification="5" maxWaitChangeNotification="10" requestValidationMode="2.0"></httpRuntime>-->
    <httpRuntime maxRequestLength="4096" waitChangeNotification="5" maxWaitChangeNotification="10" requestValidationMode="2.0"></httpRuntime>
    <trust level="Full" />
    <machineKey decryption="AES" decryptionKey="714F093690440DA0D8D504A4425696D974F8D1178C787D5A,IsolateApps" validation="AES" validationKey="F5DD71BE24DD94C7012986AE7701F65797C2A7124B169383ADA3074C4C93B4873202A5DBE7EB073E198084B8FED9722B99746505AB3600F50F76A6A81C00BA1D,IsolateApps" />
    <globalization enableClientBasedCulture="true" culture="auto" uiCulture="auto" />
    <!--requestEncoding="latin1" responseEncoding="latin1" fileEncoding="latin1"-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>